@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control {
    margin-bottom: 50px !important;
    background: black;
    font-size: 3em;
    font-family: 'Bangers', cursive !important;
    color: white;
    padding: 20px;
}

.leaflet-control-attribution {
    display: none;
}

.marker-number {
    display: inline-block;
    background: black;
    padding: 5px;
    transform: skew(10deg);
}

.marker-low {
    color: #00ff00;
}

.marker-medium {
    color: #ffff00;

}

.marker-high {
    color: #ff0000;
}

.comic-header {
    font-family: 'Bangers', cursive !important;
}

.comic-border-1 {
    border: solid black;
    border-color: black;
    border-width: 6px 6px 10px 10px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}


.comic-border-2 {
     border: solid black;
    border-color: black;
    border-width: 6px 8px 6px 10px;
      border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(-2deg);
}


.comic-border-3 {
     border: solid black;
    border-color: black;
      border-width: 10px 6px 6px 10px;
      border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(-2deg);
}
